:root{
    color:white;
    font-size: 1.4rem;
    font-family: Arial, sans-serif;
    --primary-color: rgb(9, 68, 9);
    --primaty-size: 1.2rem;
    --primary-background-color: rgb(5, 82, 5);
    --secondary-background-color: rgb(2, 61, 2);
}


body {
    background: linear-gradient(to bottom right, 
    var(--primary-color),
    green, 
    rgb(43, 141, 43),
    green,
     var(--primary-color));
     display: flex;
     flex-direction: column;
     align-items: center;
}

button, input, select {
    color: white;
    background-color: var(--primary-background-color);
    border-radius: 0.2rem;
    border: 1px solid white;
}

input:hover,
select:hover {
    background-color: var(--secondary-background-color);
}

p {
    font-size: 2rem;
}

#container {
    /* background-color: green; */
    display: flex;
    align-items: center;
    flex: 0;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    box-sizing: border-box;
}

#project-top {
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--primary-background-color);
    border-radius: 0.4rem;
    padding: 0.5rem 0.2rem;
}

#barra-wrapper {
    display: flex;
}

#question-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 2rem;
}

#question {
    width: 1rem;
}

#project-title {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#send-btn {
    width: 5.5rem;
    align-self: center;
}

#send-btn:hover,
#pdf-btn:hover {
    background-color: var(--secondary-background-color);
    transform: scale(1.03);
}

select,
input,
label,
button {
    font-size: var(--primaty-size);  
    padding: 0.3rem;
}

#square {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.5rem;
    justify-content: center;
    align-self: center;
    width: fit-content;
}

#square > * {
  flex: 1 1 25px;
}

#send-title-btn {
    position: relative;
    top: 0.2rem;
    width: 1.5rem;
    height: 1.8rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

#doc-title {
    color: white;
    font-size: 0.7rem;
    height: 2rem;
    width: 22rem;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
}

#x-btn {
    width: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    margin-top: 0.4rem;
    margin-right: 0.3rem;
}

#info {
    background-color: blue;
}

#info-show {
    width: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;

}

#result-box {
    height: fit-content;
    width: 100%;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table-container {
    width: 100%;
    overflow-x: auto;
}

#result-table {
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: none;
}

th,
tr {
    width: 100%;
}
#title-input-container {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

thead{
    width: 100%;
}

#header-row {
    z-index: 0;
}

#header-title {
    background-color: white;

}

#header th {
    text-align: center;
    vertical-align: middle;
}

#first-line td{
    font-size: 1.8vh;
    padding: 0.3rem;
    font-weight: bold;
}

th, td {
    white-space: pre-wrap;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    padding: 0.2rem;

}

table * {
    color: black;
}

thead tr th {
  text-wrap: nowrap;
}

.trash-icon {
    width: 2rem;
    background-color: none;
}

.last-column {
}


#pdf-btn {
    color: white;
    width: 7rem;
    align-self: center;
    margin-top: 0.5rem;
}
/* 
////////////////////////////

CONFIGURATION FOR PRINTING

////////////////////////////
*/
#credits {
    /* background-color: greenyellow; */
    right: 2rem;
    bottom: 2rem;
    display: flex;
    justify-content: flex-end;
}

#credits-container {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding-right: 2rem;
    align-self: center;
}

#credits-title {
    color: black;
    font-size: 0.6rem;
    align-self: baseline;
}

.credit img {
    width: 1rem;
}

#credit-five {
    color: black;
    font-size: 0.6rem;
    align-self: center;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#credit-five span {
    padding-left: 1rem;
}

#credit-five-plus {
    width: fit-content;
    margin-left: 0.5rem;
    justify-self: start;
}

#credit-five-plus-added {
    grid-column: 1 / 3;
}


@media print {

#first-line td{
    padding: 0.1rem;
    font-size: 0.8vh;
    padding: 0.1rem;
    margin: 0.1rem;
}

    td {
        font-size: 0.5rem;
    }

    #title-input-container,
    #square,
    #project-top,
    #credits-container,
    #pdf-btn,
    img {
        display: none;
    }
}